# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# .env files (caso você use algum no futuro)
.env
.env.local

# Build directories (caso use ferramentas de build)
dist/
build/

# IDE Configurations (se não estiver usando VSCode ou outras IDEs, remova)
.vscode/

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Output of 'npm pack'
*.tgz
